<div class="container-fluid">
    <section class="py-5">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="text-center mb-4">About Our Notes App</h2>
          <p class="lead text-center">
            Our Notes app is a simple and efficient way to jot down your thoughts, ideas, and reminders. It's designed to help you stay organized and productive, whether you're at work, at home, or on the go.
          </p>
          <p class="text-center">
            Built with modern web technologies, our Notes app leverages the power of Express.js, MongoDB, and Passport.js to provide a seamless user experience with robust security features.
          </p>
          
          <p class="text-center">
            Whether you're a student, professional, or anyone looking to stay organized, our Notes app is here to simplify your life. Get started today and unlock the power of efficient note-taking!
          </p>
        </div>
      </div>
    </section>
  </div>
  